    <!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

      <meta property="og:title" content="Project 52" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://project52.vaishaksuresh.com" />
      <meta property="og:image" content="https://www.evernote.com/shard/s13/sh/6a640c2e-8013-4b2f-90c3-3ed9780113a9/beb0456c8dcad5391acc8d3ad9167236/res/dd64af38-57c5-486b-adee-228faa60f6b8/skitch.png?resizeSmall&amp;width=832" />
      <meta property="og:site_name" content="Project52 - Vaishak Suresh" />
      <meta property="fb:admins" content="710496090" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {% if page.title %} {{ page.title }} | {% endif %} Vaishak Suresh, Photographer </title>
    <link rel="stylesheet" href="/css/style.css" />

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17058968-6']);
    _gaq.push(['_setDomainName', 'vaishaksuresh.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=270750289613942";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="main">

      <header>
        <div class="inner">
          <h1>Project 52</h1>
          <h2>52 Weeks, 52 Photos.</h2>
          <a href="https://github.com/vaishaksuresh/project52" class="button"><small>View on </small>GitHub</a>
          <h2>
            <nav role="navigation">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
              </ul>
            </nav>
          </h2>
        </div>
      </header>
      <div id="content-wrapper">
        <div class="inner clearfix">
          <section id="main-content">
            {{ content }}
          </section>
        </div>
      </div>
      <footer>
        <div class="fb-like" data-href="http://project52.vaishaksuresh.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></div>
        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-annotation="none"></div>

        <!-- Place this tag after the last +1 button tag. -->
        <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>
        <p>Site generated using <a href="http://jekyllrb.com/">Jekyll</a> and hosted on <a href="http://www.github.com">Github</a></p>
      </footer>
    </div>
  </body>
  </html>
